* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    background-image: url("../img/memphis-colorful.png");
}
@font-face {
    font-family: 'Odale';
    src:url('../fonts/Odale.ttf.woff') format('woff'),
    url('../fonts/Odale.ttf.svg#Odale') format('svg'),
    url('../fonts/Odale.ttf.eot'),
    url('../fonts/Odale.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    /*background-color: #999999;*/
}
.logo-content {
    font-family: 'Odale';
    color: #CC6699;
    line-height: 50px;
    height: 50px;
    font-size: 50px;
}
.logo-content span {
    color: #33CCCC;
}
.save {
    /*float: right;*/
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    line-height: 50px;
    /*background-color: #942a25;*/
}
.left {
    /*padding: 10px;*/
    float: left;
    width: 50%;
    min-height: 100px;
    max-height: 1000px;
    /*background-color: #0e0e0e;*/
    position: relative;
    top: 70px;

}
.right {
    /*padding: 10px;*/
    float:right;
    width: 50%;
    /*background-color: #999999;*/
    min-height: 100px;
    max-height: 1000px;
    position: relative;
    top: 70px;

}

textarea {
    margin-top: 2%;
    margin-left: 2%;
    min-height: 94%;
    min-width: 94%;
    max-height: 94%;
    max-width: 94%;
    opacity: 0.8;
}
textarea:focus {
    border-color: rgba(222, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(222, 0, 0, 0.075), 0 0 8px rgba(222, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(222, 0, 0, 0.075), 0 0 8px rgba(222, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(222, 0, 0, 0.075), 0 0 8px rgba(222, 168, 236, 0.6);

}
.display-area {
    margin: 2%;
    /*margin-bottom: 0;*/
    height: 92%;
    background-color: azure;
    opacity: 0.8;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
    border-radius: 5px;
    /*max-height: 92%;*/
    overflow-y: auto;
}
.pre-scrollable {
    max-height: 100%;
    overflow-y: scroll;
    scroll-padding-bottom: 0;
}
